
@{
    ViewData["Title"] = "Index";
}

@model List<FavoriteOutVM>
<table class="table table-striped">

    <thead>
        <tr>
            <td>Yemek Adı</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Recipe.Name</td>
                <td>
                    <form method="post" action="/recipe/details">
                        <input type="hidden" name="recipeId" value="@item.RecipeId" />
                        <button class="btn  px-4 gradient-custom-3" type="submit">Tarife git</button>
                    </form>
                </td>
                <td><a class="btn  px-4 gradient-custom-3" asp-controller="Favorite" asp-action="Remove" asp-route-id="@item.Id">Favorilerimden Sil</a></td>
               
            </tr>
        }
    </tbody>


</table>



