<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipeApp.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecipeApp.Web.styles.css" asp-append-version="true" />
       <!-- Option 1: Include in HTML -->
  
</head>

<body>
    <!--Main Navigation-->
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">

            <div class="position-sticky">

                <div class="list-group list-group-flush mx-3 mt-4">

                    <a class="list-group-item list-group-item-action py-2 ripple" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Ana sayfa</span>
                    </a>
                    <a class="list-group-item list-group-item-action py-2 ripple active" asp-controller="Recipe" asp-action="Index">
                        <i class="fas fa-chart-area fa-fw me-3"></i><span>Yemekler</span>
                    </a>
                    <a class="list-group-item list-group-item-action py-2 ripple active" asp-controller="Member" asp-action="Save">
                        <i class="fas fa-chart-area fa-fw me-3"></i><span>Yemewk Ekle</span>
                    </a>
                    <a class="list-group-item list-group-item-action py-2 ripple active" asp-controller="Recipe" asp-action="Index">
                        <i class="fas fa-chart-area fa-fw me-3"></i><span>Kategoriler</span>
                    </a>
                </div>
            </div>
        </nav>
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Yemek Tarifleri</a>
                <!-- Search form -->
                <form class="d-none d-md-flex input-group w-auto my-auto">
                    <input autocomplete="off" type="search" class="form-control rounded"
                           placeholder='Search ' style="min-width: 225px;" />
                    <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
                </form>

                <partial name="/Views/Shared/NavbarLogin.cshtml" />
            </div>
        </nav>
    </header>
    <main style="margin-top: 58px;">
        <div class="container pt-4"></div>
    </main>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RecipeApp.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
