@if (User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav me-0">
        <li class="nav-item dropdown ">
            @*<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>*@
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" role="button" data-bs-toggle="dropdown" aria-expanded="false"
               href="#"
               id="navbarDropdownMenuLink"
               role="button"
               data-mdb-toggle="dropdown"
               aria-expanded="false">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
                     class="rounded-circle"
                     height="22"
                     alt="Avatar"
                     loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end px-4 gradient-custom-3"
                aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item " asp-controller="Member" asp-action="LogOut">Çıkış yap</a></li>
                <li><a class="dropdown-item " asp-controller="Member" asp-action="Profile">Hesabım</a></li>

            </ul>
        </li>

    </ul>
}
else
{
    <a class="btn btn-outline-success ms-auto mb-2 mb-lg-0 mx-2" asp-controller="Home" asp-action="SignUp">Kaydol</a>
    <a class="btn btn-outline-success  mx-2" asp-controller="Home" asp-action="SignIn">Giriş Yap</a>
}