
@{
    ViewData["Title"] = "Index";
}

@model List<CategoryOutVM>
<table class="table table-striped">

    <thead>
        <tr>
            <td>Kategori Adı:</td>
            <td>Kategorideki yemekler</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <form method="get" action="Category/GetCategorywithRecipe">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <button class="btn  px-4 gradient-custom-3" type="submit">Yemekleri Gör</button>
                    </form>
                </td>

            </tr>
        }
    </tbody>


</table>


