
@{
    ViewData["Title"] = "Index";
}

@model List<CategoryOutVM>
<table class="table table-striped">

    <thead>
        <tr>
            <td>Kategori Adı:</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
            </tr>
        }
    </tbody>


</table>


