@using RecipeApp.Core.Models;

@{
    ViewData["Title"] = "Index";
}
@model List<RecipeOutVM>
<table class="table">
    <thead>
        <tr>
            
            <td>Name</td>
            <td>Description</td>
            <td>CreatedDate</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>   
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.CreatedDate</td>
            </tr>
        }
    </tbody>
</table>

